/* logo */
/* font-family: "Krona One", sans-serif; */
/* button font */
/* font-family: "Abhaya Libre", serif; */

@font-face {
  font-family: "Abhaya Libre";
  src: url("../webfonts/abhaya/AbhayaLibre-Bold.ttf") format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: "Krona One";
  src: url("../webfonts/krona/KronaOne-Regular.ttf") format(truetype);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --main-color: #134f31; */
  --main-color: #479c18;
  --black-color: #000;
  --white-color: #fff;
  --hover-color: #288d5b;
  --main-transition: 0.4s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  background-color: var(--white-color);
  box-shadow: 0 0 10px;
}

.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 75px;
}
.header .header-content::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--main-color);
  width: 100%;
  bottom: 0;
}
.header .logo {
  width: 100px;
}
.header .links {
  display: flex;
  align-items: center;
}
.header .links ul {
  display: flex;
  margin: 0;
  position: relative;
}
.header .links ul a {
  padding: 15px 20px;
  font-size: 20px;
  transition: var(--main-transition);
  color: var(--black-color);
}

.header .links ul a.active {
  font-weight: bold;
}

.header .links ul a.active,
.header .links ul a:hover {
  color: var(--main-color);
}
.header .links .dropdown-menu {
  position: absolute;
  right: 40px;
  top: 67px;
  display: none;
}
.header .links .dropdown-menu.show {
  display: flex;
}
@media (max-width: 991px) {
  .header .links .dropdown-menu {
    top: auto;
  }
  .header .links .dropdown-menu.show {
    flex-direction: column;
    align-items: center;
  }
}
.header .icons {
  display: flex;
}
.header .icons a {
  font-size: 20px;
  padding: 10px;
  color: var(--black-color);
  transition: 0.3s;
}
.header .icons a:hover {
  color: var(--hover-color);
}
.header .header-content .toggle-menu {
  background: none;
  border: none;
  width: 35px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.header .header-content .toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.header .header-content .toggle-menu:focus {
  outline: none;
}
.header .header-content .toggle-menu span {
  display: block;
  background-color: #000;
  height: 4px;
  margin-bottom: 4px;
}
@media (max-width: 991px) {
  .header .icons {
    display: none;
  }
  .header .links ul {
    display: none;
  }
  .header .links ul.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 74px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 10px;
  }
  .header .links ul li a {
    padding: 10px 0;
    color: var(--black-color);
    font-weight: bold;
  }
  .header .links ul li a:hover {
    background-color: #eee;
    padding: 6px 10px;
    border-radius: 10px;
  }
  .header .header-content .toggle-menu {
    display: inline-block;
  }
}
/* end header */

/* start landing */
.landing {
  background-image: url("../imgs/landing-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  transition: background-image 0.5s ease;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}
.landing .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 45%;
  min-width: 500px;
  background-color: rgba(19, 79, 49, 40%);
  padding: 40px 30px 40px 100px;
}
@media (max-width: 500px) {
  .landing .content {
    min-width: 100%;
    padding: 30px;
  }
}
.landing .content p {
  padding-bottom: 30px;
  line-height: 1.6;
  color: var(--white-color);
}
.landing .content p .logo {
  font-family: "Krona One", sans-serif;
  color: var(--main-color);
  font-size: 30px;
}
.landing .content p .desc {
  font-size: 16px;
  margin-left: 5px;
}
.btn {
  background-color: var(--main-color);
  border: 0;
  border-radius: 20px;
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: 0;
  padding: 10px 21px;
  position: relative;
  text-align: center;
  transition: all var(--main-transition);
  font-family: "Abhaya Libre", serif;
}

.landing .content .btn:hover {
  /* opacity: 0.8; */
  background-color: var(--main-color);
}
/* end landing */
/* strat services */
.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f5f8;
}
.services h1 {
  text-align: center;
  margin-bottom: 50px;
}
.services h1 span {
  color: var(--main-color);
}
.services .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
@media (max-width: 991px) {
  .services .container {
    grid-template-columns: 1fr;
  }
}
.services .categeories {
  background-color: var(--white-color);
}
.services .categeories .categeory {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 22px 20px;
  border-bottom: 1px solid #eee;
}
.services .categeories .categeory p {
  font-size: 16px;
  margin: 0;
}
.services .categeories .categeory .icon {
  font-size: 30px;
}
.services .categeories .active,
.services .categeories .categeory:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.services .content .box:not(.actives) {
  display: none;
}
.services .content .actives {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 15px;
}
.services .content .box img {
  max-width: 100%;
  height: 300px;
}
.services .content .box h2 {
  font-size: 25px;
  margin: 15px 0 5px;
}
/* end services */
/* start products */
.products {
  padding-top: 50px;
  padding-bottom: 50px;
}
.products h1 {
  text-align: center;
  margin-bottom: 50px;
}
.products .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.products .thumb {
  box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
.products .thumb img {
  max-width: 200px;
  border-bottom: 1px solid var(--main-color);
  min-height: 280px;
}

.products .thumb .info {
  padding: 20px;
}

.products .thumb .info p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.6;
}
.products .show-more {
  background-color: var(--main-color);
  border: 0;
  border-radius: 20px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
  outline: 0;
  padding: 10px 21px;
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all var(--main-transition);
  font-family: "Abhaya Libre", serif;
}
.products .show-more:hover {
  opacity: 0.8;
}
/* end products */
/* start news */
.news {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #f4f5f8;
}
.news h1 {
  text-align: center;
  margin-bottom: 50px;
}
.news h1 span {
  color: var(--main-color);
}
.news .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 100px;
}
.news .box {
  position: relative;
  transition: var(--main-transition);
}
.news .box .img {
  overflow: hidden;
}
.news .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.news .box:hover img {
  transform: scale(1.2);
}
.news .box .date {
  position: absolute;
  background-color: var(--main-color);
  color: var(--white-color);
  width: 50px;
  text-align: center;
  padding: 5px;
  top: 10px;
  left: 10px;
}
.news .box .date p {
  margin: 0;
}
.news .box .content {
  width: 90%;
  background-color: white;
  margin: auto;
  padding: 10px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.news .box .content h4 {
  font-size: 18px;
  color: var(--main-color);
}
.news .box .content p {
  font-size: 16px;
  line-height: 1.4;
}
.news .box:hover .content {
  bottom: 30px;
}
/* end news */
/* start team */
.team {
  padding-top: 50px;
  padding-bottom: 50px;
}

.team h3 {
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-size: 30px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #fff;
}
.team h3 span {
  color: var(--main-color);
}
.team p {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  color: #777;
}

.team .team-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.team .team-content .team {
  position: relative;
  overflow: hidden;
}
.team .team-content .team h4 {
  font-family: "Krona One", sans-serif;
  font-size: 16px;
}
.team .team-content .team p {
  font-size: 14px;
  color: #fff;
}
.team .team-content .team img {
  width: 100%;
  height: 300px;
}

.team .team-content .team .info {
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  color: #fff;
  z-index: 1000;
  padding: 10px;
  bottom: 50px;
  opacity: 0;
  transition: 0.5s;
}
.team .team-content .team .social {
  position: absolute;
  right: -35px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: var(--main-color);
  color: var(--white-color);
  top: 50px;
  transition: 0.5s;
}

.team .team-content .team .social .i {
  padding: 5px;
  cursor: pointer;
}
.team .team-content .team .social .i:hover {
  background-color: #000;
  border-radius: 50%;
}
.team .team-content .team:hover .social {
  right: 0px;
}
.team .team-content .team:hover .info {
  opacity: 1;
}

/* end team */
/* footer */
.footer {
  background-color: #2c2c2c;
  padding: 30px;
}
.footer .logo img {
  width: 150px;
  border-radius: 8px;
  max-width: 100%;
}
.footer .logo p {
  color: #ddd;
  font-size: 14px;
  margin: 20px 0 40px;
}
@media (max-width: 576px) {
  .footer .foot {
    margin-bottom: 20px;
  }
}
.footer .footer-newsletter .form-control {
  background-color: rgba(0, 0, 0, 20%);
  border: none;
  outline: none;
  color: var(--white-color);
}
.footer .footer-newsletter .form-control:focus {
  outline: none;
  box-shadow: none;
}
.footer .footer-newsletter .btn {
  border-radius: inherit;
  padding: 10px;
}
.footer .footer-newsletter .btn:hover {
  background-color: var(--main-color);
}
.footer .footer-lnews h3 {
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer .foot .title {
  font-size: 20px;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer .foot ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .foot ul li a {
  color: #ddd;
  transition: var(--main-transition);
}
.footer .foot ul li a:hover {
  color: var(--main-color);
}
.footer .contacts svg {
  margin-right: 12px;
}
