.product-details {
  padding: 50px 0;
  margin-top: 50px;
  position: relative;
}
.product-details {
}
.product-details .product {
  display: flex;
}
.product-details .product img {
  height: 300px;
  min-height: 300px;
  max-width: 100%;
}
.product-details .product-info {
  /* background-color: white; */
  padding: 20px;
  border-radius: 10px;
}
.product-details .product-info {
}
.product-details .product-info {
}
.product-details .product-info {
}
.product-details {
}
.product-details {
}
.product-details {
}
.product-details {
}
